.d-table {
    min-width: 300px;
    min-height: 300px;
    background: lightgrey;
    display: block;
    width: 1px solid red;
  }
  
  .d-table ul {
    list-style-type: none;
  }

  
  .d-row li {
    padding: 0px;
    display: inline-block;
    background: lightgrey;
    border: 1px solid red;
    width: 200px;
    height: 20px;
  }
  

  .d-column li {
    padding: 0px;
    display: inline-block;
    border: 1px solid blue;
    background: grey;
    width: 200px;
    height: 20px;
  }